/* 
Elemento	            Color	    Descripción
Fondo general	        #0f172a	    Azul oscuro profundo (elegante)
Fondo secciones	        #1e293b	    Gris-azulado oscuro (contraste)
Texto principal	        #f1f5f9	    Gris muy claro (alta legibilidad)
Texto secundario	    #94a3b8	    Gris medio (para descripciones)
Color primario	        #38bdf8	    Azul celeste brillante (acento)
Hover primario	        #0ea5e9	    Azul más fuerte
Acento alternativo	    #f43f5e	    Rosa fuerte (para destacar algo)
*/

* {
    max-width: 98vw;
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #0f172a;    
}
.banner {
    position: relative;
    top: 30px;
    background-color: #1e293b;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
}


/* --------------------------- TITULOS DEL BANNER --------------------------- */
.titulos {
    font-family: 'Impact', sans-serif;
    font-style: italic;
    font-size: 4em;
    color: #f1f5f9;
}

.titulos b {
    color: #0ea5e9;
}
span:hover {
    color: #f43f5e;
    transition: .5s;
}


/* --------------------------- IMAGEN DEL BANNER --------------------------- */
.img {
    width: 300px;
    height: auto;
    position: absolute;
    top: -15px;
    right: -50px;
    z-index: 1;
}
.img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}
.img img:hover {
    border: solid 2px #f43f5e;
    transition: .5s;
}


/* --------------------------- MENU --------------------------- */
.container-menu {
    position: relative;
    top: 50px;
    background-color: #1e293b;
    width: 85vw;
    border-radius: 5px;
}

.container-menu .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    color: #f1f5f9;
}

.container-menu .menu ul li{
    margin: -1px;
}
.container-menu .menu ul li a{
    padding: 5px;
    margin: 5px;
}


/* --------------------------- LINKS DE ANCLAJE --------------------------- */
a {
    color: #f1f5f9;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1px;
    font-style: italic;
    border-radius: 5px;
}
a:hover {
    transition: .5s;
    color: #0ea5e9;
    border: solid 1px #0ea5e9;
    border-radius: 5px;
}

/* --------------------------- LINEA DE SEPARACION --------------------------- */
hr {
    position: relative;
    top: 55px;
    background-color: #f43f5e;
    border-radius: 5px;
    border: solid 1px #f43f5e;
}

/* --------------------------- SECCIONES DEL PORTAFOLIO --------------------------- */
#portada {
    height: 100vh;
}
#sobre-mi, #trayectoria-academica, #proyectos, #habilidades, #contacto  {
    height: 100vh;
    background-color: #1e293b;
    border-radius: 10px;
    margin: 10px;
    color: #f1f5f9;
}

/* --------------------------- BOTON VOLVER --------------------------- */
.volver {
    width: 80px;    
    height: auto;
    display: flex;
    position: fixed;
    top: 355px;
    right: -5px;
    z-index: 1000;
}
.volver a{
    border: none;
    margin: 5px;
}
.volver a img{
    width: 100%;
    height: auto;
}


/* --------------------------- SECCION SOBRE MI --------------------------- */
#sobre-mi {
    background-color: #1e293b;
    border-radius: 10px;
    margin: 10px;
    color: #f1f5f9;
}
#sobre-mi h3 {
    font-family: 'Tahoma', sans-serif;
    color: #f1f5f9;
}
#sobre-mi p {
    font-family: 'Tahoma', sans-serif;
    color: #94a3b8;
    letter-spacing: -.5px;
}
#sobre-mi p span {
    font-family: 'IMPACT', sans-serif;
}
.hr-sobre-mi {
    top: 0px
}



/* --------------------------- SECCION ACADEMICA --------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
}
table th {
    background-color: #1e293b;
    color: #f1f5f9;
    padding: 10px;
    text-align: center;
    font-family: 'Tahoma', sans-serif;
}
table td {
    text-align: center;
}
table td img {
    width: 150px;
    height: auto;
    position: relative;
    left: -20px;
}

/* --------------------------- Proyectos --------------------------- */
.container-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.proyectos {
    background-color: #14a1f9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border-radius: 10px;
    width: 200px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px 30px;
}

/* --------------------------- BOTON VOLVER --------------------------- */